:root{
    --backgroundColor: white;
    --textColor:black;
    --invert:0;
}

body{
    min-height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    
}


.loginDiv {
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

}
.loginDiv>img{
    filter: invert(var(--invert));
    max-width: 40%;   
    aspect-ratio: 1;
}

.loginDiv>form{
    display: grid;
    justify-content: center;
    padding: px;
}
.loginDiv>form>input{
    padding:3%;
    margin: 2%;

    border-style: solid;
    border-radius: 1vmin;
    border-color: var(--textColor);
    border-width: 1px;
}

a{
    color: var(--textColor);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    color: var(--textColor);
}
.errorMsg{
    color: red;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
   
    text-align: center;
   
}