:root {
    --first-color: rgb(22, 101, 153);
    --second-color: #07d2e0 ;
    --third-color : rgb(221, 231, 248);
    --base-color : rgb(255, 255, 255);
 }

/* Reset styles */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;


    margin: 0;
    padding: 0;
    border: 0;

    font: inherit;

    width: 100%;
    height: 100%;

    min-width: 333px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5;
    /* color: var(--second-color); */
    background-color: var(--base-color);


}


/* Basic styles */

a {
    color: var(--second-color);
    text-decoration: none;
}

a:hover {
    color: var(--third-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    color: black;
}

ul{
    margin: 0;
    padding: 0;
}


/* Header styles */


body>header {
    width: auto;
    height: max-content;
    
    margin: 0;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    background-color:var(--first-color);
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    border-radius: 1rem;

}

body>header>a>img {
    width: 3rem;
    height: 3rem;

    margin-right: 1rem;
    
    border-radius: 50%;
}



.searchForm {
    width: 100%;
    
    justify-items: center;
}



.searchBar {
    width: 90%;
    min-width: 10em;
    display: inline-flex;
    justify-items: center;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.searchBar>input {
    width: 50%;
    height: 2rem;
    padding: 0 2% 0%;
    border: 1px solid var(--base-color);
    border-radius: 0.5rem;
    text-align: left;
}

.searchBar>button {
    height: 2rem;
    padding: 0 1rem;
    border: 1px solid var(--first-color);
    border-radius: 0.5rem;
    background-color: var(--second-color);
    cursor: pointer;
}


/*search style*/

.profilePostArea body>main>article {
    display: flex;
    border: 1px solid var(--second-color);
    margin-bottom: 5%;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    
}



/*main styles*/
.main {

    max-width: 30em;
    min-width: 30em;

}
.centerPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
   
   

}

#fileToUpload{
   width: 0.1;
   height: 0.1;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}
#fileToUpload + label {

    margin: 0;
    padding: 1px 6px;

    border: solid 1px;
    border-radius: 0.5rem;
    height: 1.5rem;

    background-color: var(--second-color);
    display: inline-block;
    cursor: pointer;
}


/*user post in index.php*/
.homePost {
    display: flex;
    border: 1px solid var(--second-color);
    margin-bottom: 5%;
    width: 100%;
    max-width: 35em;
    max-height: 35em;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    padding-bottom: 3%;
    overflow: hidden;
}

.homePost>header {
    width: 100%;

    height: 3rem;
    border-radius: 50%;

    box-sizing: border-box;
}



.homePost>header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    box-sizing: border-box;
    width: 100%;

    padding: 1vmin 0;
    background-color: var(--first-color);
    white-space: nowrap;
}

.homePost>header>div>ul {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

    margin: 0;
    padding: 0;
    border: 0;

    list-style-type: none;
}


    

.homePost>header>div>ul>li>a>img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}



.homePost>header>div h1 {
    padding: 0 1% 0;
    font-weight: 800;
}

.homePost>header>ul>li>h2 {
    justify-self: center;
    padding: 0;
    font-weight: 200;
    color: var(--second-color);
}

.homePost>header p {
    padding: 0 5% 0;
    color: var(--second-color)
}

.homePost>section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
}


.homePost>section>p {
    margin: 1.5em;
}


.homePost>section>div {
    text-align: center;

}

.homePost>section>div>img {
    width: 50%;
    object-fit: cover;
}

.homePost>footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

.homePost>footer li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10%;
    margin-top: 0;
}

.homePost>footer img {
    width: 2rem;
    height: 2rem;
}

.postHeader{
    height: 4em;
}


.postHeader,
.homePost,
.postComment {
    border-radius: 1rem;
}

.homePost {
    margin-top: 5%;
    width: 100%;
    max-height: 35em;
}




/*add post form*/
.posticon1 {
    background-color: var(--third-color);
    /* fill color */
}

.uploadPostImage {
    width: 100%;
    display: flex;
    /* margin: 3% 3% 3% 15%; */
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;

}

.uploadPostImage button {
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
}

/* add comment to post */

.writeCommentArea {
    display: flex;
    flex-direction: column;
        
}

.writeCommentArea>button {
   
    margin-right: 25%;
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
}


.writeCommentArea>input[type="text"] {
    display: block;
    white-space: pre-wrap;
    justify-self: center;
    margin: 0 10% 0;
    padding-left: 2em;
    height: 4rem;
    border-radius: 1rem;
   
    /* display: flex; */

}

.uploadPostImage input[type="text"] {
    margin: 3% 0 0;
    width: 71%;
    height: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
}

/*comment of post*/

.showComment{
    height: 100%;

    width: 100%;
}
.scrollableComments{
    max-height: 15em;
    width: 100%;
    overflow-y: scroll;
}

.postComment ul li {
    list-style-type: none;
    display: inline-block;
}

.postComment {
    width: 64%;
    height: auto;
    margin-left: 15%;
    margin-top: 3%;
    background-color: var(--third-color);
    overflow-x: auto;
    padding:  2% 2% 0% 2%;
    


}

.postComment img {
    width: 2rem;
    height: 2rem;
}

.postComment p {

    white-space: pre-wrap;
    display: flex;

    text-overflow: clip;
}

/*notification*/


.notificationContainer {
   
    align-self: flex-end;
    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: max-content;
    max-height: 40vh;
    margin: 1em;
    
    overflow-y: scroll;

    position: absolute;
    right: 0;
    
}




.notificationList img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    float: left;
}

body>aside h1 {
    padding: 0 1% 0;
    font-weight: 800;
}



.notificationContainer {
    border: 2px solid var(--second-color);
    background-color: var(--base-color);
    width: fit-content;
}
.notificationList>div>ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;

    margin: 30px;
}
.notificationList>div>ul>li{
    margin: 1%;
}

#notification-container{
    display: flex;
    flex-direction: row;
    max-width: 3em;
    height: auto;

}


.notificationIcon>img {
    width: 100%;
    height: auto;

}

.notification0 {
    background-color: var(--third-color);
    border-radius: 1rem;
}
.notification1{
    opacity: 0.4;
}

.notificationNumber {
    position: absolute;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--second-color);
    color: white;
    text-align: center;
}

/*notification animation*/

.main{
    transition: 1s;
}



/* Footer styles */
.footer-container {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: auto;

    background-color: #fff;
    border-top: 1px solid #ccc;
}

.footer-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-container li {
    flex-grow: 1;
    text-align: center;
}

.footer-container a {
    display: block;
    padding: 0.5rem 0;
    color: #666;

}

.footer-container a:hover,
.footer-container a.active:hover {
    background-color: var(--third-color);
}

.footer-container img {
    width: 10%;
    height: auto;
}

/* search bar and page */



.searchResult {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    position: absolute;
    top: 5em;



    max-height: 40vh;
    width: 80vw;

    overflow-y: scroll;
    overflow-x: hidden;

    border-radius: 0.5rem;

    border: 3px solid var(--second-color);

    background-color: var(--base-color);

    transition: opacity 1.0s;

}

.searchResult>a {
    width: 100%;
}


.userinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;

    box-sizing: border-box;
    width: 100%;

    padding: 1vmin 0;
    background-color: var(--second-color);
    white-space: nowrap;
}

.userinfo>ul {
    list-style-type: none;
}

.userinfo img {
    width: 30px;
}



.searchResult>article {
    border-radius: 0.5rem;
}
/*search result animation*/

.searchResult.close{
    visibility: hidden;
    transform: scaleY(0%);
}


.searchResult.closing {
    height: 0.1;
    opacity: 0;
    transform: scaleY(0%);
    transition: 500ms;
}

.searchResult.open {
    height: auto;
    max-height: fit-content;
    opacity: 1;

    transition: 500ms;
    transform: scaleY(100%);
}



.followButton{
    position: inherit;
    float: right;
    margin: 1rem;
}


/*search page*/
.searchPage{
    justify-self: center;
    width: 100%;
    padding: 0;
    max-height: fit-content;
    margin: 1rem;
    border-radius: 1rem;

}

.searchPage>ul{
    display: flex;
  align-items: center;
  
   justify-content: space-evenly;
    
    width:100%
}


/*start profile css*/

.profileInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    margin: 0;
}
.profileInfo>header>div{
    display: flex;
    width: 97%;
    align-items: center;
}
.profileInfo>header>div>img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    height: auto;

    border-radius: 20px;
    border: 5px solid var(--second-color);
   
    margin-top: 3vmin;

}
.profileInfo>section{
    width: 100%;
}
.profileInfo>section>div{
    position: relative;
    top: -4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 
  
}

.profileInfo>section>div>div{
    display: flex;
    position: relative;
    flex-direction: row;
    max-height:min-content;
    align-items: flex-end;
   
    
}

.profileInfo>section>div>div>img {
    position: relative;
   
    width: 30vmin;
    height: auto;
    border-radius: 50%;
}

.profileInfo>section>div>div>ul {
    list-style-type: none;
    height: min-content;
}

.profileInfo>section>div>p{
   align-self: center;
   font-weight: bold;
}


.profileInfo h2 {
    color: var(--second-color);
}

.profileInfo p {
    display: block;
}
.followSection{
    list-style-type: none;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items: center;

}


.profilePosts{
    margin: 0;
    padding: 0;
    background-color: var(--second-color);
    border-radius: 1rem;
}

.profilePosts>ul{
    padding: 0;
    margin: 1em;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.profilePosts>ul>li {
    display: inline-block;
    width: 25%;
    height: 3rem;


}

.profilePosts>ul>li>button {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-self: center;
    border-radius: 1rem;
    
}

/*end profile css*/

/* settings*/


.settings{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    align-items: stretch;
    justify-content: center;
}
.settings > input{
    align-self: center;
    width: 10em;
    height: 3em;
    margin: 2em 0;
    border-radius: 1rem;
    border-color: var(--second-color);
}

.settings > input:hover{
    background-color: var(--third-color);
}

/*  */
