
/* Reset styles */
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    width: 100%;
    box-sizing: border-box;

}

/* Basic styles */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;

}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0 0 1rem 0;
}



/* Header styles */
body>header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    

    padding: 1rem;
    background-color: #f2f2f2;
}

header img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}
body>header{
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    
    
}
.searchForm{
    justify-items: center;
    width: 100%;
}
.searchBar {
    width:90%;
    display: inline-flex;
    align-content: center;
    justify-items: center;
    flex-grow: 1;
    margin-left: 10%;
}

.searchBar>input{
    width: 50%;
    height: 2rem;
    padding: 0 2% 0%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    text-align: left;
}
.searchBar>button{
    height: 2rem;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
}


/*main styles*/
main {
    margin: 2% 5% 0;
}

body>main>article {
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-bottom: 5%;
    max-height: fit-content;
    overflow: auto;
    justify-self: center;
}

body>main>article>header>div{
    display: inline;
    position: inherit;
    box-sizing: border-box;

    display: inline-flex;
   width: 100%;
    
    padding: 1vmin 0;
    background-color: #f2f2f2;
    white-space: nowrap;
}


body>main>article>header>div>ul {
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    
    margin: 0 ;
    padding:0;
    border: 0;

    list-style-type: none;
}
body>main>article>header>div>ul>li{
    margin: 0 1%;
}

body>main>article>header>div>img { 
    padding: 0;
    margin: 0;
}

body>main>article>header>div h2 {
    padding: 0 1% 0;
    font-weight: 800;
}

body>main>article>header>ul>li>h3 {
    justify-self: center;
    padding: 0 ;
    font-weight: 200;
    color: rgb(0, 119, 238);
}

body>main>article>header p {
    padding: 0 5% 0;
    color: rgb(184, 184, 184);
}

body>main>article>section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    align-self: center;
}


body>main>article>section>p {
    margin-left: 15%;
    margin-top: 2%;
}


body>main>article>section>div{
    width: 50%;
    height: auto;
    justify-self: center;
    margin-left: 15%;
    margin-top: 3%;
}

body>main>article>section>div>img {
    width: 100%;
    object-fit: scale-down;
}

body>main>article>footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}
body>main>article>footer li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10%;
    margin-top: 0;
}

body>main>article>footer img {
    width: 2rem;
    height: 2rem;
}

.postComment ul li{
    list-style-type: none;
    display: inline-block;
}

.postComment{
    width: 50%;
    height: auto;
    justify-self: center;
    margin-left: 15%;
    margin-top: 3%;
    background-color: #f2f2f2;
}
.postComment img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 30%;
}

.writeCommentArea{
    margin-left: 15%;
}

/* Footer styles */
.footer-container {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: auto;

    background-color: #fff;
    border-top: 1px solid #ccc;
}

.footer-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-container li {
    flex-grow: 1;
    text-align: center;
}

.footer-container a {
    display: block;
    padding: 0.5rem 0;
    color: #666;
   
}

.footer-container> a.active {
    background-color: rgb(83, 152, 255);
}

.footer-container a:hover,
.footer-container a.active:hover {
    background-color: rgb(12, 109, 255);
}

.footer-container img {
    width: 10%;
    height: auto;
}



.searchResult {
    
    position: absolute;
    top: 7%;
    left: 20%;
    display:none;
    
    width: 30vw;

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 40%;
    


    background-color: white;
    transition: opacity 2.0s;
    
    }  

    .searchResult.open {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    opacity: 1;
   
    border-radius: 1vmin;
    
    border:3px solid rgb(0, 0, 0) ;
    }
    
    .searchResult>article{
        border-radius: 1vmin;
    }


    .searchResult.closing {
    opacity: 0;
    }
    